body {
  margin: 0 auto;
  height: auto;
  width: 100vw;
  font-family: "游ゴシック体", "Yu Gothic",YuGothic,"メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","Lato", "tahoma",sans-serif;
}
/* -----------⬆リセットCSS⬆--------------------- */
