body {
  margin: 0 auto;
  height: 200vh;
  width: 100vw;
  font-family: serif;
}
/* -----------⬆リセットCSS⬆--------------------- */
header {
  height: auto;
  width: 100%;
  border-bottom: solid 2px #ccc;
  background-color: cadetblue;
}
.header {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.header-list {
  height: auto;
  padding: 0 20px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  color: #454545;
}
section {
  height: 50%;
  width: 100%;
}
.section {
  height: auto;
  width: 100%;
  /* background-color: yellow; */
  /* border: solid; */
}
.section-image-box {
  height: auto;
  width: 40%;
  background-color: wheat;
  display: flex;
}
.section-image {
  width: 100%;
  /* border: solid; */
}
.section-title {
  height: 250px;
  padding: 20px;
  writing-mode: vertical-rl;
  border: solid;
  color: #454545;
  font-family: serif;
}
.section-about {
  background-color: thistle;
}
.section-skill {
  background-color: wheat;
}
.section-work {
  background-color: whitesmoke;
}
.section-contact {
  background-color: aqua;
}
footer {
  height: 50px;
  width: 100%;
  background-color: cadetblue;
}
.footer {
  height: 50px;
  width: 50%;
  margin: auto;
  text-align: center;
  line-height: 50px;
  background-color: yellow;
  color: #454545;
  font-weight: bold;
}